<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kaiva - Thank You!</title>
    <%- include('components/head') %>
</head>

<body class="bg-gray-900 text-white overflow-x-hidden">
    <%- include('components/nav') %> 

    <section class="py-28 bg-gray-800">
        <div class="md:max-w-[85%] max-w-full mx-auto pt-8 md:pt-12 px-4 sm:px-6 lg:px-8">
            <div class="text-center my-20" data-aos="fade">
                <h2 class="text-3xl md:text-4xl font-bold text-white mb-6">
                    🥳 Terima kasih telah invite Kaiva di server <%= server_name %>!
                </h2>
                <p class="text-base md:text-lg text-gray-300 max-w-3xl mx-auto mb-4">
                    Semoga Kaiva dapat memberikan pengalaman yang baik untuk server Anda :)
                </p>
                <a href="/" class="text-base text-discord">Ke Beranda</a>
            </div> 
        </div>
    </section>

    <%- include('components/footer') %>
    <script>
        if (window.location.search.length > 0) {
            window.history.replaceState({}, document.title, window.location.pathname);
        }
    </script>
    
</body>

</html>